<!DOCTYPE html>
<html lang="en">

<div class="container-fluid">

  <div class="col-md-4"></div>

    <div class="col-md-4">


		<%= render "/sessions/form" %>


	</div>
    <div class="col-md-4"></div>
  </div>
</html>
