<!DOCTYPE html>
<html lang="en">

<div class="container-fluid">

  <div class="col-md-4"></div>

    <div class="col-md-4">


		<%= render "/sessions/form" %>


		<div class="well well-sm" align="center">
		  New User? <%=link_to "Sign Up Now!", new_user_path%>
		</div>

		<div class="well well-sm" align="center">
		  <%= link_to "Log In To View Your Outfits!", login_path %>
		</div>

	</div>
    <div class="col-md-4"></div>
  </div>
</html>
