<!DOCTYPE html>
<html lang="en">

<div class="container-fluid">

  <div class="col-md-4"></div>

    <div class="col-md-4">


		<%= render "/sessions/form" %>

		<br>
		<div class="well well-sm" align="center">
		  New User? <%=link_to "Sign Up Now!", new_user_path%>
		</div>

	</div>
    <div class="col-md-4"></div>
  </div>
</html>
