<!DOCTYPE html>
<html lang="en">

<div class="container-fluid">

	<div class="col-md-4"></div>

		<div class="col-md-4">

			<form class="form-horizontal", action="<%=ootd_path%>", method="get">
			  <fieldset>
			    <legend>Find an Outfit</legend>
			    <div class="form-group">
			      <label for="location" class="col-lg-2 control-label">Location</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" id="location" placeholder="Zip Code", name="location" required>
			      </div>
			    </div>
			  
			    <div class="form-group">
			      <label class="col-lg-2 control-label">Select Your Gender</label>
			      <div class="col-lg-10">
			        <div class="radio">
			          <label>
			            <input type="radio" name="gender" id="male" value="male" checked="">
			            Male
			          </label>
			        </div>
			        <div class="radio">
			          <label>
			            <input type="radio" name="gender" id="female" value="female">
			            Female
			          </label>
			        </div>
			      </div>
			    </div>
			  
			    <div class="form-group">
			      <div class="col-lg-10 col-lg-offset-2">
			        <button type="reset" class="btn btn-default">Cancel</button>
			        <button type="submit" class="btn btn-primary">Submit</button>
			      </div>
			    </div>
			  </fieldset>
			</form>

		</div>


	<div class="col-md-4"></div>

</div>


</html>



